:root {
    --pale: rgb(210, 238, 238);
}


/* universal selector */ 
* {
   box-sizing: border-box; 
}

html, body {
margin: 0;
min-height: fit-content;
max-width:none;   
font-family: cursive;
line-height: 1.2;
color: rgb(48, 48, 97);
font-size: 10px;
background-color: var(--pale);
border: 2px solid rgb(128, 128, 241);
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.box-container {
    display: flex;
    flex:2; 
    border:1px solid cornflowerblue; 

}
.logo-box {
    margin: 1.6rem;
}

.pink-heart-image {
width: 130px;
height: 130px;
    
}

.main-section {
    float: inline-end;

}